@import "./code.css" layer(base);
@import "./docsearch.css" layer(base);
@import "tailwindcss";

@config '../../../tailwind.config.ts';

@utility ligatures-none {
  font-variant-ligatures: none;
}

@layer utilities {
  html {
    /* Set the background color for iOS Safari UI. */
    @apply h-full bg-white dark:bg-zinc-800;
    overflow-y: scroll;
  }

  html.dark {
    color-scheme: dark;
  }

  body {
    /* Set the background color for iOS Safari UI. */
    @apply h-full bg-white dark:bg-zinc-800;
    min-width: 320px;
  }
}
