@import "tailwindcss" source("../..");
@import "./code.css" layer(components);
@import "./docsearch.css" layer(components);

@source "../../../../lib-ui";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant any-hover (any-hover: hover);

@theme inline {
  --font-sans:
    var(--font-inter), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    var(--font-firacode), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-mdp: 58rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 75rem;
  --breakpoint-2xl: 96rem;
}

@utility ligatures-none {
  font-variant-ligatures: none;
}

@layer base {
  html {
    /* Set the background color for iOS Safari UI. */
    @apply h-full bg-white dark:bg-zinc-800;
    overflow-y: scroll;

    @variant dark {
      color-scheme: dark;
    }
  }

  body {
    /* Set the background color for iOS Safari UI. */
    @apply h-full bg-white dark:bg-zinc-800;
    min-width: 320px;
  }
}
