/* Fira Code */
@font-face {
  font-family: "Fira Code VF";
  src:
    url("/fonts/firacode-6-2.woff2") format("woff2-variations"),
    url("/fonts/firacode-6-2.woff") format("woff-variations");
  font-weight: 300 700;
  font-style: normal;
}
