@import "tailwindcss" source("..");
@import "../../../lib-config-web/src/tailwind/base.css";

@layer base {
  html {
    /* Set the background color for iOS Safari UI. */
    @apply h-full bg-white dark:bg-neutral-900;
    overflow-y: scroll;

    @variant dark {
      color-scheme: dark;
    }
  }

  body {
    /* Set the background color for iOS Safari UI. */
    @apply h-full bg-white dark:bg-neutral-900;
    min-width: 320px;
  }

  #background {
    @apply fixed -inset-y-80 w-full bg-white dark:bg-neutral-900;
  }

  #root {
    @apply relative grid h-full min-h-0 min-w-0;
  }
}
